@import "styles/utils";

.ageCalculatorForm {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: var(--neutral-color-white);
  border-radius: 24px 24px 100px 24px;
  padding: 48px 24px;

  @include media(">desktop") {
    padding: 56px;
    gap: 0;
  }

  .fieldContainer {
    max-width: 544px;
    display: flex;
    gap: 16px;

    @include media(">desktop") {
      gap: 32px;
    }
  }

  .buttonContainer {
    display: flex;
    align-items: center;

    &::before, &::after {
      flex: 1;
      position: relative;
      width: 100%;
      height: 1px;
      background: var(--neutral-color-lightgrey);
      content: "";
    }

    &::after {
      @include media(">desktop") {
        display: none;
      }
    }
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background: var(--primary-color-purple);
    border-radius: 216px;
    border: none;
    cursor: pointer;

    @include media(">desktop") {
      width: 96px;
      height: 96px;
      transition: background 0.3s;

      &:hover {
        background: var(--neutral-color-offblack);
      }
    }

    svg {
      width: 24px;
      height: 24px;

      @include media(">desktop") {
        width: 44px;
        height: 44px;
      }
    }
  }

  .result {
    font-style: italic;
    font-weight: 800;
    font-size: 56px;
    line-height: 110%;
    letter-spacing: -0.02em;

    @include media(">desktop") {
      font-size: 104px;
    }

    strong {
      color: var(--primary-color-purple);
    }
  }
}
